.App {
  text-align: center;
  background-image: url('https://images8.alphacoders.com/406/thumb-1920-406809.jpg');
}

body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(143, 66, 194, 0.6);;
}

.cardReact:hover {
  transform: scale(1.15);
  transition:transform .5s ease-in-out;
}

.cardReact:hover img {
  filter: hue-rotate(90deg);
}

.cardReact-anime:hover {
  transform: scale(1.15);
  transition:transform .5s ease-in-out;
}

.cardReact-anime:hover img {
  filter: hue-rotate(90deg);
}

.cardReact-anime {
  animation: append-animate .2s ease-in;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.App-link {
  color: #61dafb;
}

.containers-all-cards {
  background: rgba(255, 255, 255, 0.6);
}

.containers-choosed-cards {
  background: rgba(101, 94, 141, 0.6);
}